body{
    color: #343706;
    background-color: #fff;
}

.cbg-green{
    background-color: #bcc74f;
    /* background-color: #aec33a; */
}

.cbg-white {
    background-color: #fff;
}

.ctx-dark{
    color: #253f58;
}

.ctx-line{
    /* text-decoration: overline #d92139; */
    text-decoration: overline #712333;
    /* text-decoration: overline #940000; */
    text-decoration-style: double;
}

/* .cbg-banner{
    background-color: #fec748;

} */

.cbg-button{
    background-color: #4C550C;
    color: #fff;
}

.category {
	color: rgb(255, 255, 255);
	display: block;
	width: 100%;
	height: 150px;
	position: relative;
	margin-bottom: 30px;
	background-size: cover !important;
	background-position: center !important;
}
.category {
	color: rgb(255, 255, 255);
	display: block;
	width: 100%;
	height: 150px;
	position: relative;
	margin-bottom: 30px;
	background-size: cover !important;
	background-position: center !important;
}
.category {
	border: 1px solid #ff6800;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	float: left;
}
.col-xs-12 {
	width: 100%;
}
/* @media all and (min-width:768px) */
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
	float: left;
}
/* @media all and (min-width:768px) */
.col-sm-6 {
	width: 50%;
}
/* @media all and (min-width:992px) */
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
	float: left;
}
/* @media all and (min-width:992px) */
.col-md-3 {
	width: 25%;
}
.row {
	margin-right: -15px;
	margin-left: -20px;
	width: 1300px;
}
/* @media all and (min-width:992px) */
.container {
	width: 970px;
}
.btn-group-vertical > .btn-group::after, .btn-group-vertical > .btn-group::before, .btn-toolbar::after, .btn-toolbar::before, .clearfix::after, .clearfix::before, .container-fluid::after, .container-fluid::before, .container::after, .container::before, .dl-horizontal dd::after, .dl-horizontal dd::before, .form-horizontal .form-group::after, .form-horizontal .form-group::before, .modal-footer::after, .modal-footer::before, .nav::after, .nav::before, .navbar-collapse::after, .navbar-collapse::before, .navbar-header::after, .navbar-header::before, .navbar::after, .navbar::before, .pager::after, .pager::before, .panel-body::after, .panel-body::before, .row::after, .row::before {
	display: table;
	content: " ";
}
.btn-group-vertical > .btn-group::after, .btn-toolbar::after, .clearfix::after, .container-fluid::after, .container::after, .dl-horizontal dd::after, .form-horizontal .form-group::after, .modal-footer::after, .nav::after, .navbar-collapse::after, .navbar-header::after, .navbar::after, .pager::after, .panel-body::after, .row::after {
	clear: both;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: 30px;
	margin-left: 30px;
}
/* @media all and (min-width:768px) */
.container {
	width: 750px;
}
.section {
	padding: 30px 0;
}

.category .text-wrap {
	background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
	position: absolute;
	bottom: 0px;
	z-index: 99;
	width: 100%;
	height: 70px;
	padding: 0 15px;
}
.category .text-wrap {
	top: 100%;
	margin-top: -70px;
}
.category .overlay-content {
	position: absolute;
	top: 100%;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: rgba(0,0,0,0.8);
	z-index: 99;
	overflow: hidden;
	padding: 0;
}
.category .overlay-content, .category .text-wrap {
	transition: all 0.3s;
}
.category .text-wrap {
	background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
	position: absolute;
	bottom: 0px;
	z-index: 99;
	width: 100%;
	height: 70px;
	padding: 0 15px;
}
.category .overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1;
	background: rgba(0,0,0,0.2);
}
.category .overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 9;
	background: rgba(0,0,0,0.2);
}
ol, ul {
	margin-top: 0px;
	margin-bottom: 10px;
}
.category .overlay-content ul {
	margin: 0;
	padding: 10px 15px;
	line-height: 1.2;
}
.category .overlay-content li {
	list-style: none;
	font-size: 13px;
	display: inline;
	margin-right: 5px;
	padding-right: 5px;
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	color: #ffffff;
}
.category .overlay-content li:last-child {
	border-right: none;
}
.category .text-wrap .text {
	position: absolute;
	width: 100%;
	bottom: 15px;
	font-size: 18px;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	text-align: left;
}
.category .text-wrap .text {
	position: absolute;
	width: 100%;
	bottom: 15px;
	font-size: 18px;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	text-align: left;
}
.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.fa-arrow-right::before {
	content: "\f061";
}
.category .text-wrap .text i {
	left: 0px;
	position: relative;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.category .text-wrap .text i {
	left: 0px;
	position: relative;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}